

################################################################
# Providers configured for Import Journals					   #
################################################################



#########################################################################################
# read from default file path and read with default filename				#
#########################################################################################
#Default CSV FileName-->CurrentJournals

default.csv.filepath=D:/inbound/


#############################################################################
#   Properties related to CSV file  					    #
#   pattern, csv filename, zip filename					    #
#############################################################################

default.csv.filename=CurrentJournals

# File name of the to be processed csv file
# CSV FileName would be like --> CurrentJournalsYYYYMMdd,MMddYYYY,ddMMYYYY
# you can disable csv file suffix but it is strongly recommended to save with suffix to avoid ambiguity 
# To disable suffix place "#" before default.csv.filename.pattern=YYYYMMdd
# NOTE:dont delete below line it may give unexpected results

default.csv.filename.pattern=YYYYMMdd

# Name of the zip file generated (contains csv )
# If this property is changed, then upload.file.name must be set to same changed name

default.zip.filename.pattern=CurrentJournals

#The created zip files will be cleaned up after program exits when clean up is set to "true"
# if cleanup is set to "false" then then will be moved to archives folder

default.generated.files.cleanup=false

#The created files like csv,zip files will be cleaned up from temp folder
default.interim.files.cleanup=true

#############################################################################
#  Folder or directory where the executable has permission to create files  #
#############################################################################

default.temp.folder=D:/inbound/temp/
default.log.filename=./logs/importjournals.log

#############################################################################
#  Folder or directory where the uploaded archives will be saved	    #
#############################################################################

default.archives.folder=D:/inbound/archives/



#####################
# SMTP Settings		#
#####################

mail.smtp.host=smtp.mandrillapp.com
mail.smtp.port=587
mail.smtp.auth=true
mail.smtp.tlsenabled=true
mail.smtp.user=murali.konusu@gmail.com
mail.smtp.password=8vzAqJb2RE75w5z92A1vlA

#mail.smtp.host=smtp.gmail.com
#mail.smtp.port=587
#mail.smtp.auth=true
#mail.smtp.tlsenabled=true
#mail.smtp.user=krishnamohan.vadapalli@gigatude.com
#mail.smtp.password=gigatude@123


#####################################################################################
# WebService Method calls url for FinancialUtilService and details				    #
# pattern https://<hostname.oraclecloud.com>/finGlDesktopEntry/JournalImportService	#
#####################################################################################

fusion.service.ws.url=https://ebdj-test.fin.us2.oraclecloud.com/finFunShared/FinancialUtilService
fusion.service.ws.username=intelenex
fusion.service.ws.password=Fusion123
####################################################################################
# essJobSubmit details for InterfaceLoaderController Calculate Journals		   #
####################################################################################

ess.job.definitionname=InterfaceLoaderController
ess.job.jobPackageName=/oracle/apps/ess/financials/commonModules/shared/common/interfaceLoader
ess.job.param1=15
ess.job.param2=fileSent
ess.job.param3=N
ess.job.param4=N

####################################################################################
# essJobSubmit details for JournalImportLauncher 								   #
####################################################################################


ji.ess.job.definitionname=JournalImportLauncher
ji.ess.job.jobPackageName=/oracle/apps/ess/financials/generalLedger/programs/common

#   Data access set identifier
#dataAccessSetId="300000001451213"
ji.ess.job.param1=300000001451213


#   source="300000003299083"
ji.ess.job.param2=300000003299083

# If the ji.ess.job.param4.configread is set Y it is read from  config
# or if it is set to N it is read from csv file 

#   ledgerId="300000001451152"
ji.ess.job.param3.configread=N
ji.ess.job.param3=300000001451152

#  groupId="4060150322";  
ji.ess.job.param4.configread=N
ji.ess.job.param4=4060150324

#  Post account errors to suspense account=N 
ji.ess.job.param5=N

#  Create summary journals=N 
ji.ess.job.param6=N

# Import descriptive flexfields=N
ji.ess.job.param7=N




########################
# Manage FileUploads   #
########################

#Number of files to be picked up for a batch 
thread.count=5
#sleeping time of thread(in milliseconds)
sleep.time=2000

#####################
# ess Job Status    #
#####################
ess.job.status.check.time=60000
ess.job.status.running=RUNNING    
ess.job.status.succeeded=SUCCEEDED
ess.job.status.error=ERROR     
ess.job.status.warning=WARNING    
##########################################################################
# This the upload file name, donot Append the extension .zip, 			 #
# it is taken care in the code based on the contenttype property		 #
##########################################################################
upload.file.name=CurrentJournals
upload.file.doc.title=Current Journals  Import
upload.file.contenttype=zip 
upload.file.account=fin$/generalLedger$/import$ 
upload.file.sec.group=FAFusionImportExport
upload.file.doc.author=intelenex2
##############################################################################
# Job Status email recipients(email on the success or error of uploaded jobs #
##############################################################################
job.status.emails.to=krishnamohan.vadapalli@gigatude.com
#sai@gigatude.com,
job.status.emails.from=sai@gigatude.com

# Following params in the properties are substituted dynamically in the email $requestId,$contentType,$documentName,$title

job.status.emails.subject=Interface Loader (Import Journals - Part 1) : Job $requestId execution status is $essStatus, details and log files attached
job.status.emails.message=Interface Loader (Import Journals - Part 1) Job with request Id $requestId has been completed with status $essStatus, attached here are log files \n Content Type = $contentType \n DocumentName = $documentName \n Title = $title

ji.job.status.emails.subject=Journal Import Launcher (Import Journals - Part 2) : Primary Job Status is $parentStatus with Jobs code :$parentId, Child Job Status $childStatus with Jobs code :$childId
ji.job.status.emails.message=Journal Import Launcher (Import Journals - Part 2) : Primary Job Status is $parentStatus with Jobs code :$parentId, Child Job Status $childStatus with Jobs code :$childId, attached here are log files \n Content Type = $contentType \n DocumentName = $documentName \n Title = $title





######################################################################################
# Error log email recipients (This email is sent out in	case of expections while 	 #
# running the program, for ex: config file, or a required property is missing		 # 
# Application log file is sent out for fixing these and can be restarted again		 #
######################################################################################
error.log.emails.to=krishnamohan.vadapalli@gigatude.com
#sai@gigatude.com,
error.log.emails.from=sai@gigatude.com
error.log.emails.subject=Import Journals : Scheduled Job failed to run  
error.log.emails.message=Import Journals : Scheduled Job failed to run. Please check the attached log file to view the errors and retry to run after fixing the errors.
